
body {
	font-size:16px;
	background-color:black;
	margin-left:24px;
}
h1 {
	font-family:Papyrus;
	font-size:20px;
	color:white;
}
h2 {
	font-family:Papyrus;
	color:black;
}
p {
	font-family:Papyrus;
	color: blue;
}
a {
	color: black;
	text-decoration: none;
	
}
a:hover {
	text-decoration: underline;
	
}
#banner {
	width:1000px;
	height:250px;
	background:url('images/AShock.jpg');
	background-color:rgba(256,256,256,0.5);
}
#start {
	position:absolute;
	height:210px;
	width:250px;
	background:url("images/Spring_placeholder.png") no-repeat;
}
#book1 {
	position:absolute;
	height:210px;
	width:250px;
	background:url("images/Summer_placeholder.png") no-repeat;
	left:234px;
}
#book2 {
	position:absolute;
	height:210px;
	width:250px;
	background:url("images/Summer_placeholder.png") no-repeat;
	left:444px;
}
#book3 {
	position:absolute;
	height:210px;
	width:250px;
	background:url("images/Summer_placeholder.png") no-repeat;
	left:654px;
}
#book4 {
	position:absolute;
	height:210px;
	width:250px;
	background:url("images/Summer_placeholder.png") no-repeat;
	left:864px;
}
#adventure {
	position:absolute;
	left: 0px;
	top: 0px;
	width:210px;
	height:150px;
}
#adventure:hover {
	background-color: rgba(256,256,256,0.6);
}
#menu {
	height:50px;
	font-family:Georgia;
	font-family:14px;
	letter-spacing:0.5px;
}
#menu a {
	background:blue;
	display: block;
	float: left;
	line-height:20px;
	padding:4px;
	margin-left:4px;
	color:white;
}
#menu a:hover{
	background:black;
};
	top: 0px;
	width:400px;
	height:400px;
}
#prologue:hover {
	background-color: rgba(256,256,256,0.6);
}
#summer {
	position:absolute;
	left: 0px;
	top: 0px;
	width:400px;
	height:400px;
}
#summer:hover {
	background-color: rgba(256,256,256,0.6);
}
#menu {
	height:200px;
}
#menu a {
	background:blue;
	display: block;
	float: left;
	line-height:20px;
	padding:4px;
	margin-left:4px;
	color:white;
}
#menu a:hover{
	background:black;
}
